.singlePost {
  flex: 9;
}

.singlePostWrap {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.singlePostImg {
  width: 100%;
  height: 380px;
  object-fit: cover;
  border-radius: 7px;
}

.singlePostTitle {
  text-align: center;
  margin: 10px;
  font-family: "Lora", serif;
  font-size: 28px;
}

.singlePostTitleInput {
  margin: 10px;
  font-family: "Lora", serif;
  font-size: 28px;
  text-align: center;
  border: none;
  border-bottom: 1px solid lightgray;
  color: #444;
}

.singlePostTitleInput:focus {
  outline: none;
}

.singlePostEdit {
  float: right;
  font-size: 16px;
}

.singlePostIcon {
  margin-left: 10px;
  cursor: pointer;
  font-weight: 200;
}

.singlePostIcon:first-child {
  color: teal;
}

.singlePostIcon:last-child {
  color: tomato;
}

.singlePostInfo {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  color: rgb(236, 170, 84);
  font-size: 16px;
  font-family: "Varela Round", sans-serif;
}

.singlePostDesc {
  font-size: 18px;
  color: #444;
  letter-spacing: 1.4;
}

.singlePostDesc::first-letter {
  margin-left: 20px;
  font-size: 30px;
  font-weight: 600;
  font-family: "Lora", serif;
}

.singlePostDescInput {
  font-size: 18px;
  color: #444;
  letter-spacing: 1.4;
  border: none;
  height: 100px;
}

.singlePostDescInput::-webkit-scrollbar {
  width: 4px;
}

.singlePostDescInput::-webkit-scrollbar-thumb {
  background-color: rgb(145, 144, 144);
  border-radius: 5px;
}

.singlePostDescInput:focus {
  outline: none;
}

.singlePostUpdateButton {
  margin-top: 20px;
  background-color: teal;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 5px;
  width: 100px;
  align-self: flex-end;
  cursor: pointer;
}
