.tobBar {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: #ffff;
  z-index: 10;
}

.topBarLeft,
.topBarRight {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.topBarCenter {
  flex: 6;
}

.topBarIcon {
  font-size: 18px;
  margin-right: 15px;
  color: #444;
  cursor: pointer;
}

.topBarList {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.topBarListItem {
  margin-right: 15px;
  font-size: 18px;
  font-weight: 300px;
  font-family: "Josefin Sans", sans-serif;
  color: #666;
  cursor: pointer;
}

.topBarImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: contain;
  cursor: pointer;
}

.topBarImgIcon {
  margin-left: 15px;
  color: #666;
  cursor: pointer;
}
